/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.hlavni		{ background-color: #f1c40f; }
.levy		{ background-color: #3498db; }
.pravy		{ background-color: #e74c3c; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */


@media (min-width: 500px) {

	.kontejner {
		display: flex;
	}

	.levy {
		order: 1;
		width: 250px;
	}

	.hlavni {
		order: 2;
		flex: 1;
	}

	.pravy {
		order: 3;
		width: 150px;
	}

}


