/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* spolecne */
body {
    font: 16px/1.5 sans-serif;
}

h1 {
    color: #b92e81;
}

/*
 BARVY
 czechitas  #b92e81
 zelena     #2ecc71
 modra      #3498db
 fialova    #9b59b6
 zluta      #f1c40f
 oranzova   #e67e22
 cervena    #e74c3c
 seda       #bdc3c7
 tmavsi     #95a5a6
 tmava      #34495e
*/


/* spolecne pro vsechny sloupce - padding, barvy pisma, apod. */
.sloupec {
	padding: 1em;
	color: white;
	font-size: 24px;
	float: left;
	width: 33.3333%;
	border: 5px solid white;
}

/* vlastnosti pro kazdy sloupec zvlast */
.prvni {
	height: 300px;
	background-color: #e74c3c;
}

.druhy {
	height: 150px;
	background-color: #2ecc71;
}

.treti {
	height: 200px;
	background-color: #9b59b6;
}

.ctvrty {
	height: 250px;
	background-color: #e67e22;

	clear: left;
}

.paty {
	height: 300px;
	background-color: #3498db;
}

.sesty {
	height: 180px;
	background-color: #f1c40f;
}
