/***************************************************************************************/

.block{
    width: 90%;
    margin: 50px auto;
}

/***************************************************************************************/


