/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
