/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */

.logo {
	padding: 10px 20px;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.menu {
	list-style: none;
	margin: 1px;
	padding: 0;
}

a {
	padding: 10px;
	display: block;
	text-align: center;
}


/* sirsi nez mobil */
@media (min-width: 600px) {

	.hlavicka {
		display: flex;
		justify-content: space-between;
	}

	.menu {
		display: flex;
		list-style: none;
		margin: 1px;
		padding: 0;
	}

	a {
		height: 100%;
		display: flex;
		align-items: center;
	}
}
