/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
}
