/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.blok {
    padding: 20px;
}

.horni { background-color:#f1c40f ;}
.prvni { background-color: #2ecc71;}
.druhy { background-color: #e74c3c;}
.treti { background-color: #8e44ad;}

/* ---------------------------------------------------- */

.kontejner {
	display: flex;
	flex-wrap: wrap;
}

.horni {
	flex: 1 1 100%;
}

.prvni,
.druhy,
.treti {
	flex: 1 1 calc(100% / 3);
}
