:root {
	--first-color: #488cff;
	--second-color: #ffff8c;
}

#firstParagraph {
	background-color: var(--first-color);
	color: var(--second-color);
}

#secondParagraph {
	background-color: var(--second-color);
	color: var(--first-color);
}

#container {
	--first-color: #48ff32;
}

#thirdParagraph {
	background-color: var(--first-color);
	color: var(--second-color);
}