/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/* HLAVICKA */

.titulek {
    font-family: 'Raleway', serif;
}


/* MENU */




/* OBSAH */




/* FOTOGALERIE */




/* PATICKA */
